header {
    padding: 20px;
    text-align: center;
    background: #7c9a83;
    color: white;
  }
  
  header > ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
  }
  
  li a {
    text-decoration: none;
    color: white;
  }
  
  .link1 {
    font-size: 30px;
    padding: 5px 10px;
    display: inline-block;
    text-align: center;
  }
  
  .link2 {
    margin: auto;
    font-size: 30px;
  }
  
  section {
    width: auto;
    text-align: center;
    padding: 125px 75px;
    margin: auto;
    margin-top: 35px;
    width: 25%;
    height: 100%;
    margin-left: 33%;
    background-color: rgba(172, 171, 171, 0.884);
    color: white;
  }
  
  p, label {
  font: 1rem 'Fira Sans', sans-serif;
  }
  
  input {
  margin: 0.4rem;
  }
  
  #questionOptions {
    text-align: left;
  }
  
  #questionBasics {
    text-align: center;
  }
  
  .score-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  #questionNumber {
    background-color: #7c9a83;
    color: white;
    padding: 10px;
    width: 100px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    border-color: #7c9a83;
  }
  
  #totalScore {
    background-color: #7c9a83;
    color: white;
    padding: 10px;
    width: 100px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    border-color: #7c9a83;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #submitBtn {
    margin-top: 20px;
    border-radius: 5px;
    background-color: #7c9a83;
    color: white;
    width: 100px;
    height: 40px;
  }
  
  section.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  #usernameInput {
    color: #7c9a83;
    background-color: rgb(219, 225, 221);
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
  }

.custom-message-container {
    display: flex;
    justify-content: center;
    margin: 25px 0; 
    margin-left: 30px;
}

.custom-message-container p {
    font-size: 2em;
    color:#7c9a83;
}